@model MVCDotnetProject.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<h3>@Model.Name</h3>
<h4>@Model.MembershipType.Name</h4>
@if (!Model.Birthdate.Equals(null)){
    <h4>@Model.Birthdate.Value.ToShortDateString()</h4>
}